<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="rgb(12, 221, 12)"
                    class="bi bi-box-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001 6.971 2.789Zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z" />
                </svg>
                <span class="fs-4 m-1">Shop</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                {{#if isProducts}}
                <a class="me-3 py-2 text-dark" href="/products">Products</a>
                {{else}}
                <a class="me-3 py-2 text-dark text-decoration-none" href="/products">Products</a>
                {{/if}}
                {{#if isAdd}}
                <a class="me-3 py-2 text-dark" href="/add">Add</a>
                {{else}}
                <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Add</a>
                {{/if}}
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    {{#if token}}
                    <button button type="button" class="btn btn-danger"><a class="text-light text-decoration-none"
                            href="/login">Logout</a></button>
                    {{else}}
                    {{#if isLogin}}
                    <button button type="button" class="btn btn-primary"><a class="text-light text-decoration-none"
                            href="/login">Login</a></button>
                    {{else}}
                    <button type="button" class="btn btn-outline-primary"><a class="text-warning text-decoration-none"
                            href="/login">Login</a></button>
                    {{/if}}
                    {{#if isRegister}}
                    <button type="button" class="btn btn-success"><a class="text-light text-decoration-none"
                            href="/register">Register</a></button>
                    {{else}}
                    <button type="button" class="btn btn-outline-success"><a class="text-warning text-decoration-none"
                            href="/register">Register</a></button>
                    {{/if}}
                    {{/if}}
                </div>
            </nav>
        </div>
    </header>
</div>