<div class="container text-center">
    <img style="width: 50%; height: 50vh; " src="{{product.image}}"></img>
    <div class="justify-content-between">
        <p class="fs-2">{{product.title}}</p>
        <small class="text-muted">Created at: <b>{{formatDate product.createdAt}}</b></small>
        <p class="text-muted">Price: <b>{{product.price}}.00$</b></p>
        <p>{{product.description}}</p>
    </div>
</div>